.profilePicture {
	overflow:hidden;
	width:120px;
	height:120px;
}

#map {
  height: 300px;
  width: 100%;
 }
 
.profilePicture img:hover {
	-webkit-transition: all 1s ease;
	transform:scale(1.2);
}

img {
	transition: all 1s ease;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* ======== Friends' Statuses buttons =========*/

#safe_status {
    background-color: #4CAF50; /* Green */
    border: black;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    content: "Status is Safe";
    pointer-events: none;
    float: right;
}

#pending_status {
    background-color: #fffa00; /* Yellow */
    border: black;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    content: "Status is Pending";
    pointer-events: none;
    float: right;
}

#danger_status {
    background-color: #f92c2c; /* Red */
    border: black;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    content: "Status is Danger";
    pointer-events: none;
    float: right;
 
}


#twitter-widget-0 {
  width: 100% !important;
}
    
/* ======== Friends' Statuses buttons =========*/

/* ======== SEARCH BAR =========*/

#search_button {
    position: absolute;
    bottom:-10px;
    right: 5px;
    width: 59px;
    height:59px;
    background-image: ../img/red_search_img.png;
}


/* ======== SEARCH BAR ========= */




/* Modal Content */
.login-modal, .register-modal, .search-modal  {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#loginSubmit, #registerSubmit {
	background-color: #900; /* this is the purple color on line 461 of light-bootstrap changed it background-color: #9368e9 */
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.resultNames{
 	padding-right: 20%;
 }

p.input { 
	vertical-align: text-bottom; 
}
